{{#if list}}
<div class="custom">
	<div class="col-1">
		{{pic1 list}}
	</div>
	<div class="col-2">
		<div class="row">{{pic2 list}}</div>
		<div class="row">
			<div class="col">{{pic3 list}}</div>
			<div class="col">
				<div class="zhye">
					<h2>账户余额</h2>
					<div class="content">
						<p class="price">￥<em>299.00</em></p>
						<a href="" class="btn">充值</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
