{{#if list}}
	<ul class="tab-3-cells">
		{{#list}}
		<li>
			<a href="{{url}}">
				<span class="pic-wrap">
					<img src="" data-original="{{imgUrl}}">
				</span>
				<i>{{title}}</i>
			</a>
		</li>
		{{/list}}
	</ul>
{{/if}}